@page
@model HotelApp.Web.Pages.RoomSearchModel
@{
    ViewData["Title"] = "Room Search";
}

<h1>Room Search</h1>

<p>Use this page to Search for rooms availability.</p>

<form method="post" >
    <div class="form-group">
        <label asp-for="@Model.StartDate">Start Date</label>
        <input type="date" asp-for="@Model.StartDate" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.EndDate">End Date</label>
        <input type="date" asp-for="@Model.EndDate" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

@if (Model.AvailableRoomTypes?.Count>0)
{
    <br/>
    <h2>Results:</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Room Type</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in Model.AvailableRoomTypes)
            {
                <tr>
                    <td>
                        <strong>@room.Title</strong><br/>
                        @room.Description
                    </td>
                    <td>@string.Format("{0:C}", room.Price)</td>
                    <td><a asp-page="/RoomBook" asp-route-roomtypeid="@room.Id" 
                                                    asp-route-startdate="@Model.StartDate.ToShortDateString()"
                                                    asp-route-enddate="@Model.EndDate.ToShortDateString">Book Now</a></td>
                </tr>
            }
        </tbody>
    </table>


    
}